body {
    background-color: #F5F5F7;
}

#box {
    height: 2900px;
    max-width: 1250px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    margin: 25px auto;
    box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 58px;
}

#box h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 33pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#box p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18pt;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#apple1 {
    background-color: #0071e3;
    width: 100px;
    height: 35px;
    margin-left: 25px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    border-radius: 88px;
    border: #0071e3;
}

#apple1:hover {
    background-color: #0177df;
}

#amazon-cart {
    background-color: #ffd814;
    width: 250px;
    height: 35px;
    padding: 2.5px;
    margin-left: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-radius: 18px;
    border: #ffce12;
}

#amazon-cart:hover {
    background-color: #ffce12;
}

#amazon-buy {
    margin: 25px;
    background-color: #ffa41c;
    width: 250px;
    height: 35px;
    margin-left: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-radius: 18px;
    border: #ffa41c;
}

#amazon-buy:hover {
    background-color: #ff8400;
}

#normal {
    width: 160px;
    height: 35px;
    margin-left: 25px;
    font-size: 15pt;
}

#unreadable {
    width: 350px;
    height: 35px;
    margin-left: 25px;
    font-size: 15pt;
    background-color: black;
    color: black;
    border-radius: 34px;
    transition: 0.20s;
}

#unreadable:hover {
    background-color: grey;
    color: white;
}

/* Neon section */

#neon {
    max-width: 1440px;
    min-width: 100px;
    width: 50%;
    height: 370px;
    border: 1px solid black;
    background-image: url(https://cdn.manomano.com/media/edison/7/c/b/8/7cb86488ecd6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 25px;    
}

#neon button {
    height: 70px;
    width: 300px;
    background: none;
    color: #FFFF00;
    border-radius: 19px;
    font-size: 20pt;
    border: 2.5px solid #FF5C00;
    box-shadow: 0 0 20px 5px #FF5C00;
    animation: neon 2s linear infinite;
    backdrop-filter: blur(18px);
}


#rule3-blendin {
    max-width: 1440px;
    min-width: 100px;
    width: 50%;
    height: 370px;
    border: 1px solid black;
    background-image: url(https://cdn.shopify.com/s/files/1/0587/2828/4323/files/minimalist_home_2_600x600.jpg?v=1719799877);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: 25px;    
}


#rule3-blendin button {
    font-family: "Antonio", sans-serif;
    height: 70px;
    width: 300px;
    background: none;
    color: black;
    border-radius: 5px;
    font-size: 20pt;
    border: 2.5px solid black;
    backdrop-filter: blur(18px);
    box-shadow: 1px 1px 3.2px black;
    margin-left: 25px;
    margin-top: 185px;
}

@keyframes neon {
    0% {
        color: red;
        transform: scale(1);
        transition-duration: 0.75s;
    }

    50% {
        color: blue;
        color: #FFFF00;
        color: #FF5C00;
        color: #ffa41c;
        color: #ffa31d;
        transform: scale(1.10);
        transition-duration: 0.75s;
    }

    100% {
        color: #ffce12;
        transform: scale(1);
        transition-duration: 0.75s;
    }
}

@media screen and (max-width: 450px) {

  #box {
    width: 90%;
    margin: 16px auto;
    padding: 20px;
    border-radius: 32px;
    height: auto;
  }

  #box h1 {
    font-size: 26pt;
    padding-top: 10px;
  }

  #box p {
    padding-left: 0;
    text-align: center;
    font-size: 14pt;
  }

  #apple1 {
    width: 100px;
    max-width: 320px;
    margin: 12px auto;
    display: block;
  }

  #amazon-buy,
  #amazon-cart {
    width: 90%;
    max-width: 320px;
    margin: 12px auto;
    display: block;
  }

  #normal {
    width: 90%;
    max-width: 320px;
    margin: 12px auto;
    display: block;
  }

  #unreadable {
    width: 90%;
    max-width: 320px;
    margin: 12px auto;
    height: 55px;
    display: block;
  }

  #neon {
    width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 30px auto;
    border-radius: 18px;
  }

  #neon button {
    width: 90%;
    font-size: 16pt;
    height: 60px;
  }

  #rule3-blendin {
    width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 30px auto;
    border-radius: 18px;
  }

  #rule3-blendin button {
    margin-bottom: 45px;
    width: 90%;
    font-size: 16pt;
    height: 60px;

  }
}
